{% extends 'layout/index.jinja' %}

{% block navigation %}
	<ul class="nav nav-tabs px-2 py-2 mb-5">
		<li class="nav-item">
			<a class="nav-link" href="/">
				<img src="" width="100" height="70" class="d-inline-block align-top mx-3" alt=""> {{ app_name }}
			</a>
		</li>
		<li class="nav-item">
			<form action="/login" method="post" class="px-2 py-2">
				<div class="form-row">
					<div class="col-auto">
						<input class="form-control mb-2 mr-sm-2" type="text" name="nickname">
					</div>
					<div class="col-auto">
						<input class="form-control mb-2 mr-sm-2" type="password" name="secret_key">
					</div>
				</div>
				<button type="submit" class="btn mt-2"><i class="material-icons">exit_to_app</i></button>
			</form>
		</li>
	</ul>
{% endblock %}
